<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>📨 Mailcatcher</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
</head>
<body>
<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="/">
            <h1 class="title">📨 Mailcatcher</h1>
        </a>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbar">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>
    <div id="navbar" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" href="/">Inbox</a>
        </div>
    </div>
</nav>

<section class="section">
    <div class="box">
        <h1 class="title is-4">Inbox 📬</h1>
        <div class="columns" style="height: 75vh; width: 100%;">
            <div class="column is-one-quarter" style="overflow-y: auto">
                {{if .Emails}}
                    {{$id := .Id}}
                    {{range $idx, $el := .Emails}}
                        <div class="box {{if eq $idx $id}}has-background-primary-light{{end}}">
                            <span>{{$el.Time}}</span>
                            <div class="container is-flex is-justify-content-space-between">
                                <a href="/{{$idx}}">
                                    <h4 class="title is-6 mb-1">{{if not $el.Seen}}🔴 {{end}}{{$el.Subject}}</h4>
                                </a>
                                <button class="delete"></button>
                            </div>
                            <a href="/{{$idx}}">
                                <h5 class="subtitle is-6">{{$el.From.Email}} → {{$el.To.Email}}</h5>
                            </a>
                        </div>
                    {{end}}
                {{else}}
                    <div class="container">
                        <h4 class="subtitle is-6 has-text-centered">No email in inbox yet</h4>
                    </div>
                {{end}}
            </div>

            <div class="column is-flex" style="overflow-y: auto;">
                {{if .Email}}
                    <div class="box flex-grow-1" style="width: 100%;">
                        <h6 class="title is-4">{{.Email.Subject}}</h6>
                        <h5 class="subtitle is-6">{{.Email.From.Email}} → {{.Email.To.Email}}</h5>
                        <hr/>
                        <h6 class="subtitle is-6 m-2">FROM: {{.Email.From}}</h6>
                        <h6 class="subtitle is-6 m-2">TO: {{.Email.To}}</h6>
                        {{range $key, $val := .Email.Headers}}
                            <h6 class="subtitle is-6 m-2">{{$key}}: {{$val}}</h6>
                        {{end}}
                        <pre>{{.Email.Body}}</pre>
                    </div>
                {{end}}
            </div>
        </div>
    </div>
</section>
</body>
</html>
